{% extends 'sum_v1_base.html' %}

{% load static %}

{% block javascript %}
	{# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

	{# PHOTOS PAGE SCRIPTS #}
	<!--script src="{% static 'js/basic-upload.js' %}"></script-->
	<script src="{% static 'js/progress-bar-upload.js' %}"></script>
{% endblock %}

{% block photos_content %}
	<div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">
		<span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>
		<h3>Drop Documents Here to Upload</h3>
	</div>
	<div style="margin-bottom: 20px;">
		<form method="post" action="{% url 'sum_v1:clear_database' %}">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ request.path }}">
			<button type="submit" class="btn btn-danger pull-right">
				<span class="glyphicon glyphicon-trash"></span> Remove uploaded documents
			</button>
		</form>

		<form method="post" enctype="multipart/form-data">
	  	<button type="button" class="btn btn-primary js-upload-photos">
	    	<span class="glyphicon glyphicon-cloud-upload"></span> or choose documents to upload
	    </button>
	    <input id="fileupload" type="file" name="file" multiple
	           style="display: none;"
	           data-url="{% url 'sum_v1:upload' %}"
	           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
		</form>
	</div>

	<div>
	  <table id="gallery" class="table table-bordered">
	    <thead>
	      <tr>
	        <th>Uploaded documents</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{% for document in documents %}
	      	<tr>
	         <td><a href="{{ document.file.url }}">{{ document.file.name }}</a></td>
	        </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>

		<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">Uploading...</h4>
	        </div>
	        <div class="modal-body">
	          <div class="progress">
	            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>

	<div>
		<form method="post" action="{% url 'sum_v1:sum_words' %}">
			{% csrf_token %}
			<label for="{{ form.word_count.id_for_label }}">Number of words in each summary:</label>
			{{ form.sum_words }}
			<button type="submit" class="btn btn-success pull-right">
				<span class="glyphicon glyphicon-ok"></span> Generate summaries
			</button>
		</form>
	</div>

{% endblock %}
