{% load static %}

<body>
    <head>
      <!-- Required meta tags -->
      <!--meta charset="utf-8"-->
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>NLP toolbox</title>
  </head>

	<div class="page-header">
		<h1><a href={% url 'home_v1:index' %}>Natural Language Processing toolbox</a></h1>
		<p>Version: 1.0</p>
	</div>

	<div class="content-container">
		{% block content %}
		{% endblock %}
	</div>
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block javascript %}
  {% endblock %}
</body>
